/* css init

cores:

 roxo:      #52264B
 roxo:      #472147
 branco:    #fff


 font:

 font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 14px;


*/



/* importa��o feita pelo site ZAP */
@font-face{font-family:'Site-ZAP';
    src:url('http://temporada.cjs.zapcorp.com.br/Content/fonts/Site-ZAP-Temporada.eot?-q1yypi');
    src:url('http://temporada.cjs.zapcorp.com.br/Content/fonts/Site-ZAP-Temporada.eot?#iefix-q1yypi') format('embedded-opentype'),url('http://temporada.cjs.zapcorp.com.br/Content/fonts/Site-ZAP-Temporada.ttf?-q1yypi') format('truetype'),url('http://temporada.cjs.zapcorp.com.br/Content/fonts/Site-ZAP-Temporada.woff?-q1yypi') format('woff');
    font-weight:normal;
    font-style:normal
}


[class^="icone-"]:before,[class*=" icone-"]:before{font-family:'Site-ZAP';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icone-escudo:before{content:"\e642"}.icone-pacotes:before{content:"\e643"}.icone-cidade:before{content:"\e63f"}.icone-montanha:before{content:"\e640"}.icone-praia:before{content:"\e641"}.icone-data-atualizacao:before{content:"\e639"}.icone-tipo-temporada:before{content:"\e63a"}.icone-vagas:before{content:"\e634"}.icone-suites:before{content:"\e635"}.icone-quartos:before{content:"\e636"}.icone-hospedes:before{content:"\e60c"}.icone-faixa-preco:before{content:"\e637"}.icone-area:before{content:"\e638"}.icone-facebook2:before{content:"\e63b"}.icone-google-plus2:before{content:"\e63e"}.icone-twitter2:before{content:"\e63c"}.icone-facebook:before{content:"\e631"}.icone-twitter:before{content:"\e632"}.icone-google-plus:before{content:"\e607"}.icone-youtube:before{content:"\e627"}.icone-like:before{content:"\e608"}.icone-meh:before{content:"\e609"}.icone-dislike:before{content:"\e60a"}.icone-salvar-busca:before{content:"\e62b"}.icone-alerta:before{content:"\e60b"}.icone-busca:before{content:"\e63d"}.icone-chat-vazado:before{content:"\e60d"}.icone-chat:before{content:"\e60e"}.icone-imprimir:before{content:"\e62c"}.icone-android:before{content:"\e604"}.icone-apple:before{content:"\e605"}.icone-fechar-modal:before{content:"\e606"}.icone-check:before{content:"\e60f"}.icone-seta-light-cima:before{content:"\e62e"}.icone-seta-light-baixo:before{content:"\e62f"}.icone-share:before{content:"\e25a"}.icone-favoritada:before{content:"\e601"}.icone-nao-favoritada:before{content:"\e603"}.icone-menu:before{content:"\e630"}.icone-foto:before{content:"\e617"}.icone-tour-virtual:before{content:"\e618"}.icone-video:before{content:"\e619"}.icone-distancia-ate:before{content:"\e61a"}.icone-visao-lista:before{content:"\e61b"}.icone-visao-galeria:before{content:"\e61c"}.icone-gps-fixed:before{content:"\e61d"}.icone-informacao:before{content:"\e61e"}.icone-informacao2:before{content:"\e633"}.icone-alerta-reportar:before{content:"\e61f"}.icone-limpar:before{content:"\e626"}.icone-seta-simples-baixo:before{content:"\e620"}.icone-seta-simples-cima:before{content:"\e621"}.icone-seta-simples-esq:before{content:"\e622"}.icone-seta-simples-dir:before{content:"\e623"}.icone-seta-cheia-baixo:before{content:"\e624"}.icone-seta-cheia-cima:before{content:"\e625"}.icone-lead:before{content:"\e610"}.icone-e-mail:before{content:"\e611"}.icone-telefone:before{content:"\e612"}.icone-editar:before{content:"\e613"}.icone-remover:before{content:"\e614"}.icone-smartphone:before{content:"\e62d"}.icone-seta-indice-baixo:before{content:"\e615"}.icone-seta-indice-cima:before{content:"\e616"}.icone-seta-resultados:before{content:"\e628"}.icone-seta-cheia-esq:before{content:"\e629"}.icone-seta-cheia-dir:before{content:"\e62a"}

/* ALTERA��ES BOOTSTRAP */



.well{
    background-color: #F7F4EC;
    border: none;

}

section{
    background-color: #F7F4EC;

}

.btn-group .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-group .btn-default.focus, .btn-default:focus{
    color: #fff;
    background-color: #52264B;
    border-color: #52264B;

}

#estilo-checkbox-bootstrap .checkbox-inline+ .checkbox-inline, .radio-inline+.radio-inline{
    margin-left: 0px;
    margin-right: 20px;
    line-height: 25px;

}

#budget-form .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;;
    text-align: center;
    background-color: #472147;
    border: 1px solid #472147;
    border-radius: 4px;
    color: #fff;
}


/* CSS STARTER TAG */

label, select, button, input[type="button"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.no-padding{
    padding: 0;

}

.mb18 {
    margin-bottom: 18px;
}

.mr10 {
    margin-right: 10px;
}



select {
    height: 30px;
    line-height: 30px;
    width: 220px;
    border: 0;
    background-color: #ddd;
    padding: 0 0 0 20px;
    color: #000;
    outline: 0;
}

.init-margin-right-checkbox{
    margin-right: 20px!important;
    margin-left: 0px!important;
}

.no-padding-left{

    padding-left: 0px;
}

.no-margin{
    margin: 0px;

}
.init-float-left{
    float: left;

}

.margin-none{
    margin: 0;
}

/*  CSS MENU   */

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

body{
    margin: 0;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    background-color: #F7F4EC;
    -webkit-font-smoothing: antialiased;

}

header {

    background-color: #ECECEC;

    height: 55px;

}

.menu-header-margem{
    margin-top: 13px;

}

.position-relative{
    position: relative;

}
#btn-orange{
    background-color: #FF6347;
    color: #FFF!important;
    font-family: pt-sans, sans-serif;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;

}



#btn-roxo{
    background-color: #472147;
    border-color: #472147;

}

#btn-roxo:hover{
    background-color: #120736;
    border-color: #120736;



}

#btn-orange:hover {
    background-color: #E60;
}

.label-free{
    display: inline-block;
    padding-right: 6px;
    padding-top: 5px;
    position: relative;
    z-index: 10;

}

.btn-large{
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;

}


.estilo-fonte-menu li a{
    color: #6C88BB!important;

}

.label-free .btn::after {
    background:  url("/images/download.png") right center no-repeat;
    content: '';
    display: inline-block;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;



}

.btn-menu-login-li{
    margin-right: 17px;
    margin-top: 4px;

}

.btn-menu-login{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;

}

.btn-menu-login:hover{
    text-decoration: underline!important;
    background-color: #fff!important;
    color: #000;

}

.navbar-inverse .navbar-nav>li>a{

    color: #5B2B4D;
}


.navbar-inverse .navbar-nav>li>a:hover{

    color: #120736;
}





/********************************/
/*          CSS MENU HOME       */
/********************************/


/* banner meio */

.subhead{

    text-align: left;
    border-bottom: 1px solid #ddd;
}

.jumbotron1 {
    position: relative;
    padding: 40px 0;
    color: #fff;

    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: linear-gradient(45deg, #020031 0%, #6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);

}

.jumbotron1 h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;

}

.subhead p {
    margin-bottom: 20px;
}

.jumbotron1 p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

.jumbotron1:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/fundo-banner.png") repeat center center;

    opacity: .4;
}

/* menu fixo LATERAL*/

#menu-fixo{
    border: 1px solid #ECECEC;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;


}

.navbar-inverse{
    background-color: #FAFAFC;
    border-color: #FAFAFC;
    webkit-box-shadow: 0 0 9px 0 #472147;
    -moz-box-shadow: 0 0 9px 0 #472147;
    box-shadow: 0 0 9px 0 #472147;
    border-bottom: 1px solid #472147;
}

#menu-fixo  li{
    position: relative;
    display: block;

}

#menu-fixo  li a{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ECECEC ;
    font-size: 1em ;
}



#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.affix-bottom{
    position: relative;

}

.bg-escolha-categorias{
    background-color: #ECECEC;
    text-align: center;
    font-family: pt-sans, sans-serif;
    font-weight: 700;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1px;
    display: inline-block;
    font-size: 1.2em;

}


.item{
    margin-bottom: 2%;

}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail:hover{
    border-color:#472147 ;
    webkit-box-shadow: 0 0 9px 0 #472147;
    -moz-box-shadow: 0 0 9px 0 #472147;
    box-shadow: 0 0 9px 0 #472147;
    border-bottom: 1px solid #472147;


}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #472147;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


.bloco-item h4, .bloco-item p{
    font-family: pt-sans, sans-serif;
    color : #5B2B4D;
    text-align: center;

}

.list-group-item h4, .list-group-item p{

    font-family: pt-sans, sans-serif;
    color : #5B2B4D;
}

.list-group-item:hover{
    text-decoration: none;

}





.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}



footer{
    background-color: #000;
    position: relative;
    height: 63px;
    border-top: 1px solid #FFFFFF;
    overflow: hidden;

}

.footer-texto p{
    font-size: 1.1em;
    display: inline-block;
    font-family: pt-sans, sans-serif;
    margin-top: 22px;
    color: #fff;
    font-weight: 700;

}

.footer-texto i{
    display: inline-block;
    float: right;
    margin-top: 14px;
    font-weight: 700;


}

.footer-texto i{
    color:#00A99D;

}

.footer-texto i:hover{
    color: #fff;

}


/********************************/
/*          imoveis             */
/********************************/


.container-filtros{

    width: 100%;
    box-sizing: border-box;
    display: none;
    background: #fff!important;
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.16);
    display: block;


}
.filtros-principais{
    list-style: none;
    margin: 5px auto;
    padding: 0;
    max-width: 920px;

}

.container-filtros .filtros-principais>li {
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #444;
    position: relative;
    cursor: pointer;
}

.filtros-principais>li .filtro:before {
    font-size: 22px;
    float: left;
    padding: 0 10px 0 0;
}

.filtros-principais>li .filtro {
    line-height: 35px;
    float: left;
    padding: 0 6px;
    position: relative;
    z-index: 50;
    text-transform: initial;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}

.filtros-principais>li .filtro:after {
    content: "";
    border-right: 1px solid #d2d2d2;
    height: 20px;
    position: absolute;
    right: 0;
    top: 7.5px;
}

.icone-tipo-temporada:before {
    content: "\e63a";
}

.filtros-principais>li .tipo-imovel-temporada {
    width: 109px;
    padding: 0;
    margin: 4px 0 0 0;
    font-size: 12px;
    outline: none;
    background-color: transparent;
}

.filtros-principais>li .filtro.quartos {
    width: 153px;
}

.icone-quartos:before {
    content: "\e636";
}

.icone-seta-light-baixo:before {
    content: "\e62f";
}


.filtros-principais .filtro .icone-seta-light-baixo, .filtros-principais .filtro .icone-seta-light-cima {
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 2px;
    color: #000;
}


.content-filtro {
    z-index: 1002;
}


#divQuartos{
    display: none;

}

.display-block{

    display: block!important;
}
.filtro-check {
    width: 129px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    position: absolute;
    top: 36px;
    left: 14px;
    border-radius: 4px;
}

.titulo-check {
    float: left;
    width: 100%;
    height: 31px;
    line-height: 31px;
    padding-left: 6px;
    box-sizing: border-box;
    background: #ddd;
    cursor: default;
}

.titulo-check:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
}

.opcoes-check{
    float: left;
    list-style: none;
    margin: 0;
}

.opcoes-check li {
    width: 120px;
    padding-left: 9px;
    height: 31px;
    line-height: 31px;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
}

.opcoes-check input[type="checkbox"] {
    margin: 10px 5px 0 0;
    float: left;
    width: 15px;
    height: 15px;
}


.opcoes-check li:hover, .opcoes-check li.option-selected {
    background: #472147;
    color: #fff;
}

.icone-faixa-preco:before {
    content: "\e637";
}


.content-slider {
    width: 298px;
    height: 135px;
    position: absolute;
    top: 36px;
    left: 0;
    border-radius: 4px;
    background: #f5f5f5;
    cursor: default;
    border: 1px solid #ddd;
    display: none;
}

.titulo-slider {
    float: left;
    width: 100%;
    height: 31px;
    line-height: 31px;
    padding-left: 6px;
    box-sizing: border-box;
    background: #ddd;

}

.titulo-slider:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
}

.boxBusca {
    float: left;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    display: inline;
}

.boxBusca>ul {
    list-style: none;
    margin: 0;
    float: left;
}

.boxBusca>ul li {
    float: left;
    height: 35px;
    line-height: 35px;
}

.boxBusca>ul li input[type="text"] {
    margin: 0;
    border-radius: 4px;
    height: 25px;
}

input[type=text].input-slider-preco-esq, input[type=text].input-slider-esq, input[type=text].input-slider-preco-dir, input[type=text].input-slider-dir {
    float: left;
    clear: left;
    box-shadow: 0 0 0 0;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 4px;
    outline: none;
    width: 62px;
    margin: 11px 0 0 0;
    font-size: 12px;
    text-align: right;
}

.boxBusca>ul li:nth-child(2n) {
    padding: 0px 47px;
    font-size: 10px;
    line-height: 36px;
    position: relative;
}

.boxBusca>ul .spacer-slider .spacer-left {
    width: 34px;
    border-top: 1px solid #d2d2d2;
    position: absolute;
    top: 17px;
    left: 5px;
}

.boxBusca>ul .spacer-slider .spacer-right {
    width: 34px;
    border-top: 1px solid #d2d2d2;
    position: absolute;
    top: 17px;
    right: 5px;
}




.icone-suites:before {
    content: "\e635";
}


.filtro-check.check-suites {
    left: 15px;
}

.filtros-principais>li .filtro.vagas {
    width: 153px;
}


.row .span8 {
    width: 65.95744680851064%;
}

.sort  {

    margin-right: 5px;
    top: 13px;
    position: relative;

}




/********************************/
/*          anunciar            */
/********************************/


.conteneur {
    width:431px;
    margin:auto;
    position:relative;
}

.conteneur h1 {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size:24px;
    text-align:center;
    color:#16a085;
    margin:40px 0 120px 0;
}

.circle {
    background:transparent;
    margin:auto;
    width:300px;
    height:300px;
    border:8px solid #12826c;
    border-radius:50%;
    position:relative;
    -webkit-animation:animation 12s infinite linear;
    animation:animation 12s infinite linear;/*Safari and Chrome*/
}

.circle:hover {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari and Chrome */
}

.point_general {
    width:12px;
    height:12px;
    position:absolute;
    border-radius:50%;
    background:#1abc9c;
    border:6px solid #16a085;
}

.point_general:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0px;
    left:0px;
    content:'';
    background:#1abc9c;
    opacity:0;
    border-radius:50%;
    -webkit-transition:all .4s ease;
    transition:all .4s ease;
}

.point_general:hover:after {
    opacity:0.8;
    width:200px;
    height:200px;
    top:-94px;
    left:-94px;
}

.texte {
    opacity:0;
    position:absolute;
    text-align:center;
    top:-50px;
    left:-50px;
    width:110px;
    height:110px;
    overflow:hidden;
    color:#ecf0f1;
    font-family: 'Roboto', sans-serif;
    z-index:10;
    -webkit-transition:opacity .2s 0s ease;
    transition:opacity .2s 0s ease;
    -webkit-animation:animation2 12s infinite linear;
    animation:animation2 12s infinite linear;/*Safari and Chrome*/
}

.point_general:hover .texte {
    opacity:1;
    -webkit-transition:opacity .4s .4s ease;
    transition:opacity .4s .4s ease;
}

.circle:hover .texte {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari and Chrome */
}

.point1 {
    top:30px;
    left:30px;
}

.point2 {
    top:-16px;
    left:138px;
}

.point3 {
    top:30px;
    right:30px;
}

.point4 {
    top:138px;
    right:-16px;
}

.point5 {
    bottom:30px;
    right:30px;
}

.point6 {
    bottom:-16px;
    left:138px;
}

.point7 {
    bottom:30px;
    left:30px;
}

.point8 {
    top:138px;
    left:-16px;
}

@keyframes animation
{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes animation /*Safari and Chrome*/
{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

@keyframes animation2
{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
}

@-webkit-keyframes animation2 /*Safari and Chrome*/
{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(-360deg);}
}

.area-anuncio-total{
    background: #fff;
    margin: 20px auto;
    border: 1px solid #dce0e0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;


}

.anuncio-titulo-estilo h2{
    color: #4C2147;

}

.anuncio-titulo{
    color: #472147;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;

}

.anuncio-texto-header{
    color: #472147;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 40px;

}

.input-small{
    width: 85px;

}

.input-large{
    width: 70%;

}

#cidade{
    display: none;

}

.anuncio-area-mapa{

    height: 450px;
    background-color: black;

}


.material_checkbox
{
    position: relative;
    margin: 25px;
}

.material_checkbox:focus
{
    outline-color: #fff;
}

.material_checkbox:before
{
    border: 2px solid #ccc;
    content: "";
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 15px;
    z-index: 1;
}

.material_checkbox:checked:before
{
    border-top-style: none;
    border-right-style: none;
    height: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.material_checkbox:after
{
    background: #fff;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 0;
    width: 15px;
    z-index: 0;
}
.material_checkbox:checked:before{border-color:#5677fc;}



/* Imovel interno */

.btn {
    display: inline-block;
    padding: 8px 13px 8px 13px;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #ddd;
}


.box-default{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 3px silver;
    margin-bottom: 20px;
    clear: both;
    position: relative;
    box-sizing: border-box;

}

.box-default .title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 12px;
}


.imovel-area-detalhe h1{
    max-width: 60%;
    font-size: 20px;
    margin: 0;
    line-height: 20px;

}

.imovel-area-detalhe .subtitle {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 7px;
    line-height: 12px;
}

.imovel-area-detalhe  .logradouro {
    float: left;
    font-size: 16px;
    margin-top: 3px;
}

.imovel-area-detalhe .value-ficha{
    display: block;
    font-weight: bold;
    font-size: 23px;
    line-height: 20px;
    text-align: right;

}

.informacoes-imovel .unstyled {
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 9px;
}

ul.unstyled {
    margin: 0;
    list-style: none;
}

.informacoes-imovel li {
    float: left;
    margin-right: 20px;
}



.informacoes-imovel .text-info {
    display: block;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 8px;
    margin-top: 8px;
}

.box-descricao-caract p {
    margin-bottom: 0;
    line-height: 21px;
}

.box-descricao-caract h3:nth-child(3) {
    margin-top: 20px;
}

ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
ul.thumbnails-carousel .center {
    display: inline-block;
}
ul.thumbnails-carousel li {
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.controls-background-reset {
    background: none !important;
}
.active-thumbnail {
    opacity: 0.4;
}
.indicators-fix {
    bottom: 70px;
}

.carrosel-fotos-imovel .item:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);



}

.carrosel-fotos-imovel img{
    margin-right: auto;
    margin-left: auto;

}

.bar-actions li {
    float: left;
    letter-spacing: -0.4px;
    font-size: 13px;
}

.bar-actions li a {
    line-height: 14px;
}

.bar-actions li a:before {
    font-size: 14px;
    float: left;
    line-height: 19px;
    margin-right: 5px;
}

.bar-actions .share-social {
    margin: 0 40px;
}

.bar-actions .share-social .icone-social {
    float: left;
    margin-left: 10px;
}

.bar-actions .share-social .icone-social:before {
    font-size: 24px;
    margin-right: 0;
}

.bar-actions .share-social .icone-e-mail:before {
    color: #ebd073;
    font-size: 28px;
    line-height: 21px;
}

#modalDenuncieAbrir{
    color: #ff5a00;

}

.contatar-ficha .list-buttons {
    margin-bottom: 10px;
}

.btn-zap {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    background-color: #5B2B4D;
    text-align: center;
}

.contatar-ficha .text-aoligar {
    font-size: 11px;
    margin-bottom: 5px;
}

.contatar-ficha .number {
    width: 100%;
    background-color: #e5e5e5;
    font-size: 22px;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 0 10px;
}

span#number_tel {
    width: 100%;
    background-color: #e5e5e5;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 0 10px;
}

.tab-pane .number {
    display: inline-block;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 22px;
}

.content-floaters {
    position: relative;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
}

.text-center, .tc {
    text-align: center;
}

.contatar-anunciante .tab-mensagem {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.contatar-ficha .form-mensagem {
    margin: 0;
    font-size: 12px;
}

input.span1, textarea.span1 {
    width: 94px;
}

.contatar-ficha #txtTelefone {
    width: 169px;
}

.contatar-ficha textarea {
    height: 82px;
    resize: none;
    line-height: 16px;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}

#frmEnviarMensagem textarea, input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    vertical-align: middle;
}


#frmEnviarMensagem input[type="submit"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}

#frmEnviarMensagem .btn.focus, .btn:focus, .btn:hover{
    color: #fff;

}
.mt10 {
    margin-top: 10px;
}

.contatar-ficha .check-ofertas label {
    font-size: 11px;
    line-height: 11px;
    display: inline;
    margin-left: 7px;
}

.ml18 {
    margin-left: 18px;
}

.text-right, .tr {
    text-align: right;
}

.contatar-ficha .btn-link {
    float: left;
    width: 80px;
    line-height: 30px;
    cursor: pointer;
}

.contatar-ficha .contact:before {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}


.btn-link {
    background-color: transparent;
    border: 0;
    color: #ff5a00;
    text-transform: uppercase;
}

.btn-fav-ficha {
    float: left;
    background-color: #e5e5e5;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    height: 30px;
    line-height: 25px;
    cursor: pointer;
}

.btn-fav-ficha .icone-favoritada {
    line-height: 30px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
}

.addicon, .addiconS, .removeicon {
    background-color: #5B2B4D;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.add img {
    margin-top: 0;
}

.add span {
    margin: 2px 0 0 7px;
    font-family: 'Roboto Condensed';
    font-size: 12px;
}


.outras-informacoes {
    font-size: 12px;
    line-height: 16px;
}

.outras-informacoes .content-anunciante {
    margin-top: 10px;
    color: #ff5a00;
}

.outras-informacoes .content-anunciante .logo {
    max-height: 52px;
    margin-right: 15px;
    max-width: 88px;
    border: solid 4px #eee;
}

.outras-informacoes .anunciante {
    margin-top: -3px;
    width: 131px;
    font-family: 'Roboto Condensed';
}


.outras-informacoes .logo img {
    width: 100%;
}

.mt40{
    margin-top: 40px;

}

.estilo-fonte-h2{
    margin: 0;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 21px;

}


/* modal */


#txtConteudo{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    vertical-align: middle;

}

.modal-footer {
    padding: 14px 15px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    position: relative;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 1px 0 #fff;

}


.denuncie-modal .text {
    float: left;
    width: 140px;
    margin-right: 20px;
}

.denuncie-modal p, .denuncie-modal label {
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 14px;
}

.denuncie-form {
    float: left;
    width: 350px;
    margin-left: 20px;
}

.denuncie-modal select {
    height: 30px;
    line-height: 30px;
    width: 220px;
    border: 0;
    background-color: #e5e5e5;
    padding: 0 20px;
    color: #000;
    background: #ddd;
    outline: 0;
}

.denuncie-modal textarea{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    vertical-align: middle;

}

.center-button {
    margin: 20px auto;
    text-align: center;

}

.text-left, .tl {
    text-align: left;
}

.modal-login .login-box {
    float: left;
    width: 50%;
    background-color: #f6f5f1;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    position: relative;
}

.modal-login .titulo {
    font-size: 18px;
    font-weight: bold;
}

.modal-login .desc, .modal-cadastro .desc {
    font-size: 13px;
    line-height: 14px;
}

.modal .aviso {
    background-color: #fdfae9;
    box-sizing: border-box;
    font-size: 14px;
    color: #444;
    padding: 10px 16px;
    border: 1px solid #ffeb63;
}

.modal-login .login-box input[type=email] {
    width: 100%;
    margin-bottom: 15px;
}

.modal-login .loading, .cadastro .loading {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.modal-login .login-box .forgot-pass {
    float: left;
    margin: 0;
    font-size: 12px;
}

.modal-login .login-box button {
    float: right;
    width: 114px;
}

.saving-distance, .saved-distance, .error-distance, .auth-loading, .saving-fav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
}

.error-distance .message {
    background: #fde9e9;
}

.modal-login .login-box {
    float: left;
    width: 50%;
    background-color: #f6f5f1;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    position: relative;
}

.modal-login .cadastro-box {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 12px 7px 12px 25px;
}

.modal-login .cadastro-box input[type=text], .modal-login .cadastro-box input[type=email], .modal-cadastro input[type=text], .modal-cadastro input[type=password], .modal-cadastro input[type=email] {
    width: 100%;
}

.modal-login .loading, .cadastro .loading {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.modal-login .cadastro-box .info {
    float: left;
    font-size: 12px;
    line-height: 14px;
    clear: both;
    margin: 7px 0 0;
}

input.span4, textarea.span4 {
    width: 286px;
}

.modal-login .radio, .checkbox{
    min-height: 20px;
    padding-left: 20px;

}

.modal-login .modal-footer-login {
    display: block;
    text-align: center;
    background: #f7f9fe;
}

.modal-footer-login .btn-facebook {
    cursor: pointer;
    background-color: #007aa5;
    color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 4px 8px 4px 5px;
}

.modal-footer-login .icone-facebook:before {
    margin-right: 10px;
}

.modal-login .modal-footer-login .text {
    display: block;
    font-size: 13px;
    line-height: 14px;
    color: #838383;
    max-width: 264px;
    margin: 12px auto 0;
    text-align: center;
}




/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){

}
@media screen and (max-width: 640px){

}

/********************************/
/*      fim Media Queries       */
/********************************/


